<app-title-section title="Services" subtitle="At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:" />
<section class="wrapper-services__cards">
    <app-card [title]="['Search engine', 'optimization']" type="white"  />
    <app-card [title]="['Pay-per-click', 'advertising']" illustration="service-illustration-2" type="green"  />
    <app-card [title]="['Social Media', 'Marketing']" illustration="service-illustration-3" type="black"  />
    <app-card [title]="['Email', 'Marketing']" illustration="service-illustration-4" type="white"  />
    <app-card [title]="['Content', 'Creation']" illustration="service-illustration-5" type="green"  />
    <app-card [title]="['Analytics and', 'Tracking']" illustration="service-illustration-6" type="black"  />
</section>
