<section class="wrapper-services">
    <div class="wrapper-services__title-description">
        <h2 class="wrapper-services__title-description--highlight">Services</h2>
        <p>
            At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:
        </p>
    </div>
</section>
<section class="wrapper-services__cards">
    <app-card [title]="['Search engine', 'optimization']" type="white"  />
    <app-card [title]="['Search engine', 'optimization']" illustration="service-illustration-2" type="green"  />
</section>
