.wrapper-services__cards {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(390px, 1fr));
    gap: 2.5rem;
}


@media (max-width: 990px) {
    .wrapper-services__cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
