.wrapper-navbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}


.wrapper-navbar > ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

ul > li > span {
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 28px;
    border-radius: 7px;
    padding: 0px 7px;
}

ul > li > span:hover {
    background-color: var(--c-green);
}

.wrapper-navbar__burguer-menu {
    display: none;

}

@media (max-width: 1150px) {
    .wrapper-navbar > ul {
        display: none;
    }

    img {
        cursor: pointer;
    }

    .wrapper-navbar__burguer-menu {
        display: block;
    }

    .wrapper-navbar__burguer-menu--open {
        display: block;
    }
}
