/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --c-gray: #F3F3F3;
    --c-dark: #191A23;
    --c-green: #B9FF66;
    --c-black: #000000;
    --c-white: #FFFFFF;
}

* {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    background-color: var(--c-white);
}
