/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --c-gray: #F3F3F3;
    --c-dark: #191A23;
    --c-green: #B9FF66;
    --c-black: #000000;
    --c-white: #FFFFFF;
}

* {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

body {
    background-color: var(--c-white);
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@media (max-width: 1150px) {
    p {
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }
}


/* Estilo del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Color del thumb del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #191A23;
    transition: all 0.3s ease;
}

/* Color del thumb del scrollbar cuando está hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-green)
}

