<section class="wrapper-middle-cta">
    <div class="wrapper-middle-cta__content">
        <h3 class="middle-cta__title">Let’s make things happen</h3>
        <p class="middle-cta__text">Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.</p>
        <app-button type="fill">Get your free proposal</app-button>
    </div>
    <img src="assets/image/illustration-middle-cta.png" alt="cta image" class="middle-cta__image">
</section>
